* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Calculator body */
#calBody {
    border-radius: 20px;
    width: 450px;
    height: 600px;
    background-color: #A5C9CA;
    margin: 60px auto;
}

/* Calculator Display */

#calDisplay {
    width: 450px;
    height: 200px;
    border: none;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-color: #E7F6F2;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* Operations display */

#opsDisplay h2 {
    font-size: 60px;
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#opsDisplay h2:last-child {
    padding-right: 20px;
}

#opsDisplay {
    border: 2px solid red;
    display: flex;
    height: 120px;
    width: inherit;
    flex-wrap: wrap;
    justify-content: flex-end;
    overflow: auto;
}

/* Total display */

#totalDisplay {
    border: 2px solid red;
    height: 80px;
    width: inherit;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#totalDisplay h2 {
    font-size: 25px;
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
}

#totalDisplay h2:last-child {
    padding-right: 20px;
}

/* Calculator numpad */
.numpad {
    width: inherit;
    height: 80px;
    border: 2px solid black;
    display: flex;
    align-items: center;
}

.numpad:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.button {
    font-size: 25px;
    margin: 0;
    padding: 0;
    width: 112.5px;
    text-align: center;
}